:root{
    --cyan:hsl(180, 66%, 49%);
    --dark-violet:hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --whitish-gray:  rgb(225, 233, 235);
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);
}
@keyframes slide {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }

}

@keyframes hide {
    from { transform: translateX(0); }
    to { transform: translateX(200%); }
}

@media screen and (max-width: 1100px) {

    .home.desktop, .hidden{
        display: none;
    }
    
    .firstView{
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding-bottom: 100px;
    }

    .topbar{
        display: flex;
        flex-direction: column;
    }

    .topbarContainer{
        margin-top: 40px;
        padding-left: 40px;
        display: flex;
        justify-content: space-between;
        padding-right: 40px;
    }

    .topbarLogo{
        object-fit: contain;
    }

    .topbarNavIcon ion-icon {
        font-size: 40px;
        margin-right: 0px;
    }

    .topbarNavToggle{
        align-self: center;
        padding: 25px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        width: 70%;
        background-color: var(--dark-violet);
        border-radius: 10px;
        position: absolute;
        top: 100px;
        animation: slide 0.5s ease forwards;
    }

    .hidden{
        /* display: none; */
        animation: hide 0.5s ease forwards;
    }

    .topbarNavToggle hr{
        width: 100%;
    }

    .topbarNavToggle span{
        margin-bottom: 20px;
        cursor: pointer;
    }

    .topbarNavSignup{
        font-weight: 600;
        color: white;
        padding: 7px 80px;
        border-radius: 20px;
        background-color: var(--cyan);
    }

    .section1{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        align-items: center;
        width: 100%;
    }

    .section1Left{
        margin-top: 50px;
    }

    .section1Right{
        text-align: center;
        padding-bottom: 60px;
    }

    .section1Head{
        font-size: 2.4em;
        line-height: 1.2;
        margin-top: 40px;
        color: var(--very-dark-blue);
    }

    .section1Intro{
        margin: 40px 0px;
        color: var(--grayish-violet);
        font-size: 1em;
    }

    .section1Btn{
        font-weight: 700;
        color: white;
        padding: 10px 40px;
        border-radius: 20px;
        background-color: var(--cyan);
    }

    .section1Btn:hover{
        opacity: 0.7;
        cursor: pointer;
    }

    .section1Img{
        width: 400px;
        padding-left: 100px;
    }

    .section2Container{
        margin-top: 10px;
        display: flex;
        align-items: center;  
        position: relative;  
        justify-content: center;
        position: absolute;
        left: 50%;
        right: 50%;
        top: -5%;
    }

    .section2Img{
        height: 150px;
        background-color: var(--dark-violet);
        border-radius: 5px;
        width: 380px;
    }

    .section2Form{
        position: absolute;
        z-index: 1;
        margin-left: 20px;
        margin-top: 5px;
        width: 350px;
    }

    .section2Input{
        width: 320px;
        height: 40px;
        border-radius: 10px;
    }

    .section2Input::placeholder{
        padding-left: 15px;
        font-size: 18px;
    }

    .section2Form.err{
        margin-top: 35px;
    }

    .section2Input.err{
        border: 2px solid var(--red);
    }

    .section2Input.err::placeholder{
        color: var(--red);
    }

    .section2Btn{
        font-weight: 700;
        margin-top: 10px;
        background-color: var(--cyan);
        color: white;
        height: 45px;
        border: none;
        padding: 7px 15px;
        border-radius: 10px;
        width: 326px;
    }

    .section2Btn:hover{
        cursor: pointer;
        opacity: 0.7;
    }

    .section2Err{
        margin-top: -1px;
        color: var(--red);
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
    }

    .section2Err{
        display: none;
    }

    .section3{
        background-color: var(--whitish-gray);
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .section3List{
        margin-right: 40px;
        margin-top: 100px;
    }

    .section3EachList{
        list-style: none;
        display:flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        margin-bottom:10px;
        width: 340px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 15px;
    }

    .section3Span{
        display: flex;
        width: 100%;
        align-items:center;
        /* margin-top: 10px; */
        justify-content: space-between;
    }

    .section3Link{
        width: 100%;
        margin-left: 60px;
    }

    .section3ShortenedLink{
        margin-left: 30px;
        color: var(--cyan);
    }

    .section3CopyBtn{
        font-weight: 700;
        color: white !important;
        padding: 7px 30px;
        border-radius: 7px;
        background-color: var(--cyan);
        margin-right: 20px;
    }

    .clicked{
        background-color: var(--dark-violet);
    }

    .section3Overview{
        margin-top: 80px;
        text-align: center;
        width: 380px;
    }

    .section3Head{
        color: var(--very-dark-blue)
    }

    .section3Info{
        margin-top: -10px;
        color: var(--grayish-violet)
    }

    .section3Contents{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 110px 0px;
    }

    .section3Content{
        background-color: white;
        width: 300px;
        padding: 35px 30px;
        border-radius: 5px;
        position: relative;
        z-index: 1;
    }

    .section3Contents hr{
        transform: rotate(90deg);
        background-color: var(--cyan);
        width: 100%;
        height: 20px;
    }

    .contentImage{
        position: absolute;
        background-color: var(--very-dark-violet);
        padding: 16px;
        border-radius: 50%;
        top: -35px;
        right: 40%;
        left: 40%;
    }

    .content2{
        margin-top: 50px;
    }
    .content3{
        margin-top: 50px;
    }

    .section4{
        width: 100%;
    }
    .section4Container{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .section4Img{
        width: 100%;
        height: 140px;
        background-color: var(--dark-violet);
    }

    .section4Content{
        position: absolute;
        align-self: center;
        color: white;
        text-align: center;
    }

    .section4Head{
        font-size:30px;
    }
    .section4Btn{
        font-weight: 700;
        color: white;
        padding: 10px 25px;
        border-radius: 20px;
        background-color: var(--cyan);
    }

    .section5{
        background-color: var(--very-dark-violet);
    }

    .section5Logo,.section5Head{
        color: white;
    }

    .section5Container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        padding: 35px 20px;
        margin-top: -1px;
    }

    .section5Logo{
        margin-top: -10px;
    }

    .section5Head{
        font-weight: bold;
        top: 0px;
        margin-top: 0px;
    }

    .section5Spans{
        color: var(--grayish-violet);
        display: flex;
        flex-direction: column;
        font-size: 14px;
        line-height: 2;
    }

    .section5Spans span:hover{
        cursor: pointer;
        color: var(--cyan);
    }

    .section5IconsContainer{
        display: flex;
        justify-content: center;
        margin-top: 7px;
    }

    .section5IconsContainer img{
        margin-right: 15px;
        width: 20px;
        cursor: pointer;
    }

    .section5IconsContainer img:hover{
        filter: brightness(0.8);
    }
}